.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 345px;
    height: 150px;
    padding: 0;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #24004c9e;
    background-color: rgb(91 73 104 / 26%);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    cursor: pointer;
}

.card-img{
    width: 90px;
    height: 112px;
    object-fit: contain;
    pointer-events: none;
}

.card-description {
    width: 238px;
    padding-left: 10px;
    pointer-events: none;
    line-height: 1;
    user-select: none;
}