.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

header > a:hover {
  text-decoration: underline;
}

header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header > a:hover {
  text-decoration: underline;
}

.active {
  color: #7045ff;
  cursor: default;
}
